@import "tailwindcss";
@plugin "daisyui";

@utility btn {
  @apply rounded-none;
}

@utility btn--big {
  @apply max-w-xl w-full;
}

@utility input {
  @apply rounded-none w-full max-w-xl mx-auto;
}

.drawer.open .drawer-side{
  pointer-events: auto;
  visibility: visible;
  overflow-y: auto;
  opacity: 100%;
  .menu{translate: 0;}
}

.drawer-end .drawer-side{
  grid-column-start: 2;
  justify-items: end;
}

.drawer .drawer-side .menu{
  translate: 100%;
}

.user-drawer__menu a,
.user-drawer__menu button{
  padding: .25rem 1rem;
  display: flex;
  gap: .5rem;
  text-align: left;
  color: var(--color-base-content);
  border-bottom: 1px solid var(--color-base-300);
}